* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-color: darkblue;
    --text-position: center;
}

nav {
    background-color: var(--home-color);
    padding-right: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    max-width: 840px;
    background: rgb(231, 229, 229);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 1rem 1rem 1rem;
}

h1 {
    color: var(--home-color);
    margin: 15px;
    border-bottom: 2px solid rgb(166, 166, 209);
    padding-bottom: 10px;
    padding-top: 40px;
}

p {
    padding: 0;
    margin: 15px;

}

aside {
    width: 20rem;
    text-align: var(--text-position);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    border-top: 1px solid black;
    margin-top: 15px;
    text-align: var(--text-position);
}

header,
.grid,
footer {
    width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    /* align-items: center; */
    background-color: rgb(231, 229, 229);
    margin-bottom: 10px;
}

.box {
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #eee;
    color: black;
}

.box h2 {
    position: absolute;
    left: 71.115px;
    top: 20px;
    font-size: medium;
}

.indent {
    padding-left: 2rem;
    border: 15px;
}